@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,700");
html,
body,
pre {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

pre {
  display: block; }

dl,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

li {
  margin: 0;
  padding: 0; }

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 0; }

html {
  --themes-background-color: #f1f2f3;
  color: #55565e;
  font-family: Rubik, sans-serif;
  font-size: 16px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #303136;
  font-weight: 500;
  letter-spacing: 0.01em; }

code {
  font-family: "Source Code Pro", sans-serif; }

pre {
  font-family: "Source Code Pro", sans-serif; }

strong {
  color: #303136; }

:root .tp-dfwv {
  top: 72px; }

.button {
  background-color: #9194a1;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  color: #f1f2f3;
  display: inline-block;
  font-weight: 500;
  height: 32px;
  line-height: 32px;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  text-decoration: none; }
  .button:hover {
    background-color: #9fa1ad; }
  .button:active {
    background-color: #acaeb9; }
  .button_icon {
    font-size: 0.9em;
    margin-right: 0.5em; }
    .button_icon.button_icon-after {
      margin-left: 0.5em;
      margin-right: 0; }

.codeBlock {
  background-color: #ececee;
  border-radius: 6px;
  position: relative; }
  .codeBlock pre {
    overflow: auto;
    padding: 32px; }
    @media screen and (max-width: 960px) {
      .codeBlock pre {
        padding: 24px; } }
    .codeBlock pre code {
      font-size: 0.9rem;
      font-weight: 500; }
  .codeBlock_title {
    background-color: #5f616d;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 6px;
    color: #d6d7db;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.25em 0.5em;
    position: absolute;
    right: 0;
    top: 0; }

.demo {
  background-color: #ececee;
  border-radius: 6px; }
  @media screen and (min-width: 961px) {
    .demo {
      display: flex; } }
  .demo_codeLayout {
    flex: 3;
    overflow: auto; }
  .demo_resultLayout {
    background-color: #f1f2f3;
    flex: 2;
    padding: 32px;
    text-align: center; }
    @media screen and (min-width: 961px) {
      .demo_resultLayout {
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px; } }
    @media screen and (max-width: 960px) {
      .demo_resultLayout {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px; } }

.globalFooter {
  text-align: center; }
  .globalFooter_innerLayout {
    box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 16px;
    padding-top: 16px; }
    @media screen and (min-width: 961px) {
      .globalFooter_innerLayout {
        margin-left: auto;
        margin-right: auto;
        max-width: 928px;
        padding-left: 64px;
        padding-right: 64px; } }
    @media screen and (min-width: 481px) and (max-width: 960px) {
      .globalFooter_innerLayout {
        padding-left: 32px;
        padding-right: 32px; } }
    @media screen and (max-width: 480px) {
      .globalFooter_innerLayout {
        padding-left: 16px;
        padding-right: 16px; } }
  .globalFooter_copyLayout {
    color: rgba(85, 86, 94, 0.7);
    font-size: 0.8rem; }
    .globalFooter_copyLayout a {
      color: inherit; }

.globalHeader {
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  color: inherit;
  height: 64px;
  left: 0;
  line-height: 64px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 1002; }
  .globalHeader_innerLayout {
    box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    @media screen and (min-width: 961px) {
      .globalHeader_innerLayout {
        margin-left: auto;
        margin-right: auto;
        max-width: 928px;
        padding-left: 64px;
        padding-right: 64px; } }
    @media screen and (min-width: 481px) and (max-width: 960px) {
      .globalHeader_innerLayout {
        padding-left: 32px;
        padding-right: 32px; } }
    @media screen and (max-width: 480px) {
      .globalHeader_innerLayout {
        padding-left: 16px;
        padding-right: 16px; } }
  .globalHeader_logoLayout {
    display: inline-block; }
  .globalHeader_spMenuButtonLayout {
    left: 0;
    position: absolute;
    top: 0; }

.spMenuButton {
  color: inherit;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px; }

.menu {
  background-color: #2f3137;
  bottom: 0;
  left: -240px;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 240px;
  z-index: 1003; }
  @media screen and (min-width: 961px) {
    .menu {
      transform: translateX(240px); } }
  @media screen and (max-width: 960px) {
    .menu {
      transform: none; }
      .menu.menu-expanded {
        transform: translateX(240px); } }
  .menu.menu-loaded {
    transition: transform 0.2s ease-in-out; }
  .menu_logoLayout {
    border-bottom: #26272c solid 4px;
    height: 64px;
    line-height: 64px;
    padding-left: 32px;
    padding-right: 32px; }
  .menu_list {
    padding-top: 24px;
    padding-bottom: 24px; }

.menuItem_anchor {
  color: rgba(200, 202, 208, 0.7);
  display: block;
  font-weight: 500;
  margin-top: 24px;
  padding: 8px 32px;
  text-decoration: none; }
  .menuItem_anchor.menuItem_anchor-active {
    background-color: rgba(200, 202, 208, 0.05);
    color: #c8cad0; }
  .menuItem_anchor:hover {
    background-color: rgba(200, 202, 208, 0.1); }
  .menuItem_anchor .fa-external-link-square-alt {
    margin-left: 0.5em; }

.menuItem:first-child .menuItem_anchor {
  margin-top: 0; }

.submenuItem_anchor {
  color: rgba(200, 202, 208, 0.6);
  display: block;
  padding: 8px 16px 8px 32px;
  text-decoration: none; }
  .submenuItem_anchor.submenuItem_anchor-active {
    background-color: rgba(200, 202, 208, 0.025);
    color: #c8cad0; }
  .submenuItem_anchor:hover {
    background-color: rgba(200, 202, 208, 0.05); }

.hljs-comment {
  color: #9294a0; }

.hljs-keyword {
  color: #445eab; }

.hljs-literal,
.hljs-number {
  color: #9466c2; }

.hljs-string {
  color: #6c7393; }

.logo {
  color: #55565e;
  display: block;
  font-weight: 500;
  padding-left: 20px;
  position: relative;
  text-decoration: none; }
  .logo:hover {
    color: rgba(85, 86, 94, 0.8);
    text-decoration: none; }
  .logo.logo-light {
    color: #f1f2f3; }
    .logo.logo-light:hover {
      color: rgba(241, 242, 243, 0.8); }
  .logo_symbol {
    background: linear-gradient(to left, #55565e, #55565e 4px, transparent 4px, transparent 8px, #55565e 8px, #55565e);
    border-radius: 4px;
    bottom: 2px;
    content: '';
    display: block;
    height: 12px;
    left: 0;
    margin-bottom: auto;
    margin-top: auto;
    position: absolute;
    top: 0;
    width: 12px; }
  .logo.logo-light .logo_symbol {
    background: linear-gradient(to left, #f1f2f3, #f1f2f3 4px, transparent 4px, transparent 8px, #f1f2f3 8px, #f1f2f3); }
  .logo:hover .logo_symbol {
    background: linear-gradient(to left, rgba(85, 86, 94, 0.8), rgba(85, 86, 94, 0.8) 4px, transparent 4px, transparent 8px, rgba(85, 86, 94, 0.8) 8px, rgba(85, 86, 94, 0.8)); }
  .logo.logo-light:hover .logo_symbol {
    background: linear-gradient(to left, rgba(241, 242, 243, 0.8), rgba(241, 242, 243, 0.8) 4px, transparent 4px, transparent 8px, rgba(241, 242, 243, 0.8) 8px, rgba(241, 242, 243, 0.8)); }

.main {
  overflow: hidden; }
  @media screen and (min-width: 961px) {
    .main_globalHeaderLayout {
      display: none; } }
  @media screen and (max-width: 960px) {
    .main_globalHeaderLayout {
      height: 128px; } }
  .main_mainLayout {
    overflow: hidden;
    position: absolute;
    right: 0; }
    @media screen and (min-width: 961px) {
      .main_mainLayout {
        left: 240px;
        top: 0; } }
    @media screen and (max-width: 960px) {
      .main_mainLayout {
        left: 0;
        top: 64px; } }
  .main_pageHeaderLayout, .main_innerLayout {
    flex: 1; }
    .main_pageHeaderLayout h2, .main_innerLayout h2 {
      font-size: 1.5rem;
      margin-top: 2em; }
      @media screen and (max-width: 960px) {
        .main_pageHeaderLayout h2, .main_innerLayout h2 {
          font-size: 1.25rem; } }
    .main_pageHeaderLayout h3,
    .main_pageHeaderLayout h4,
    .main_pageHeaderLayout h5,
    .main_pageHeaderLayout h6, .main_innerLayout h3,
    .main_innerLayout h4,
    .main_innerLayout h5,
    .main_innerLayout h6 {
      font-size: 1.25rem;
      margin-top: 2em; }
      @media screen and (max-width: 960px) {
        .main_pageHeaderLayout h3,
        .main_pageHeaderLayout h4,
        .main_pageHeaderLayout h5,
        .main_pageHeaderLayout h6, .main_innerLayout h3,
        .main_innerLayout h4,
        .main_innerLayout h5,
        .main_innerLayout h6 {
          font-size: 1rem; } }
    .main_pageHeaderLayout h1:first-child,
    .main_pageHeaderLayout h2:first-child,
    .main_pageHeaderLayout h3:first-child,
    .main_pageHeaderLayout h4:first-child,
    .main_pageHeaderLayout h5:first-child,
    .main_pageHeaderLayout h6:first-child, .main_innerLayout h1:first-child,
    .main_innerLayout h2:first-child,
    .main_innerLayout h3:first-child,
    .main_innerLayout h4:first-child,
    .main_innerLayout h5:first-child,
    .main_innerLayout h6:first-child {
      margin-top: 0; }
    .main_pageHeaderLayout h1 + p,
    .main_pageHeaderLayout h2 + p,
    .main_pageHeaderLayout h3 + p,
    .main_pageHeaderLayout h4 + p,
    .main_pageHeaderLayout h5 + p,
    .main_pageHeaderLayout h6 + p, .main_innerLayout h1 + p,
    .main_innerLayout h2 + p,
    .main_innerLayout h3 + p,
    .main_innerLayout h4 + p,
    .main_innerLayout h5 + p,
    .main_innerLayout h6 + p {
      margin-top: 0.5em; }
    .main_pageHeaderLayout ul, .main_innerLayout ul {
      list-style-type: disc;
      margin-bottom: 1em;
      margin-top: 1em;
      padding-left: 1.3rem; }
    .main_pageHeaderLayout li + li, .main_innerLayout li + li {
      margin-top: 0.5em; }
    .main_pageHeaderLayout p, .main_innerLayout p {
      line-height: 1.6; }
      .main_pageHeaderLayout p code, .main_innerLayout p code {
        background-color: #f1f2f3;
        color: #666f99;
        font-weight: 500;
        padding-left: 0.25em;
        padding-right: 0.25em; }
    .main_pageHeaderLayout a, .main_innerLayout a {
      color: #2680d9; }
  .main_innerLayout {
    box-sizing: border-box; }
    @media screen and (min-width: 961px) {
      .main_innerLayout {
        margin-left: auto;
        margin-right: auto;
        max-width: 928px;
        padding-left: 64px;
        padding-right: 64px; } }
    @media screen and (min-width: 481px) and (max-width: 960px) {
      .main_innerLayout {
        padding-left: 32px;
        padding-right: 32px; } }
    @media screen and (max-width: 480px) {
      .main_innerLayout {
        padding-left: 16px;
        padding-right: 16px; } }
    @media screen and (min-width: 961px) {
      .main_innerLayout {
        padding-bottom: 64px;
        padding-top: 64px; } }
    @media screen and (max-width: 960px) {
      .main_innerLayout {
        padding-bottom: 32px;
        padding-top: 32px; } }
  .main_mediaLayout {
    margin-bottom: 1em;
    margin-top: 1em; }

.pageHeader {
  background-color: #f1f2f3;
  position: relative; }
  .pageHeader_sketchContainer {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0; }
    .pageHeader_sketchContainer canvas {
      display: block;
      height: 100%;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      width: 100%; }
  .pageHeader_innerLayout {
    box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    @media screen and (min-width: 961px) {
      .pageHeader_innerLayout {
        margin-left: auto;
        margin-right: auto;
        max-width: 928px;
        padding-left: 64px;
        padding-right: 64px; } }
    @media screen and (min-width: 481px) and (max-width: 960px) {
      .pageHeader_innerLayout {
        padding-left: 32px;
        padding-right: 32px; } }
    @media screen and (max-width: 480px) {
      .pageHeader_innerLayout {
        padding-left: 16px;
        padding-right: 16px; } }
    @media screen and (min-width: 961px) {
      .pageHeader_innerLayout {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 64px;
        max-width: 800px; } }
    @media screen and (min-width: 481px) and (max-width: 960px) {
      .pageHeader_innerLayout {
        max-width: 480px; } }
    @media screen and (max-width: 960px) {
      .pageHeader_innerLayout {
        display: block;
        padding: 64px 32px; } }
  @media screen and (min-width: 961px) {
    .pageHeader_titleLayout {
      padding-bottom: 32px;
      padding-top: 32px; } }
  .pageHeader_title {
    font-size: 3rem; }
    @media screen and (max-width: 960px) {
      .pageHeader_title {
        font-size: 2rem;
        text-align: center; } }
  @media screen and (min-width: 961px) {
    .pageHeader_paneLayout {
      flex-grow: 0;
      flex-shrink: 0;
      margin-left: 32px; } }
  @media screen and (max-width: 960px) {
    .pageHeader_paneLayout {
      margin-top: 32px;
      text-align: center; } }

.paneContainer {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  width: 256px; }
  .paneContainer + .paneContainer {
    margin-top: 16px; }
  .paneContainer.paneContainer-console {
    --tp-base-background-color: transparent;
    --tp-base-shadow-color: transparent;
    --tp-button-background-color: hsla(0, 0%, 0%, 0.05);
    --tp-button-background-color-active: hsla(0, 0%, 0%, 0.2);
    --tp-button-background-color-focus: hsla(0, 0%, 0%, 0.15);
    --tp-button-background-color-hover: hsla(0, 0%, 0%, 0.1);
    --tp-button-foreground-color: hsla(0, 0%, 0%, 0.3);
    --tp-folder-background-color: hsla(0, 0%, 0%, 0.05);
    --tp-folder-background-color-active: hsla(0, 0%, 0%, 0.2);
    --tp-folder-background-color-focus: hsla(0, 0%, 0%, 0.15);
    --tp-folder-background-color-hover: hsla(0, 0%, 0%, 0.1);
    --tp-folder-foreground-color: hsla(0, 0%, 0%, 0.3);
    --tp-input-background-color: hsla(0, 0%, 0%, 0.05);
    --tp-input-background-color-active: hsla(0, 0%, 0%, 0.2);
    --tp-input-background-color-focus: hsla(0, 0%, 0%, 0.15);
    --tp-input-background-color-hover: hsla(0, 0%, 0%, 0.1);
    --tp-input-foreground-color: hsla(0, 0%, 0%, 0.3);
    --tp-input-guide-color: hsla(0, 0%, 0%, 0.1);
    --tp-monitor-background-color: hsla(0, 0%, 0%, 0.05);
    --tp-monitor-foreground-color: hsla(0, 0%, 0%, 0.3);
    --tp-label-foreground-color: hsla(0, 0%, 0%, 0.3);
    --tp-separator-color: hsla(0, 0%, 0%, 0.1); }
    .paneContainer.paneContainer-console .tp-rotv {
      border: rgba(0, 0, 0, 0.1) dashed 1px; }

.photoCredit {
  bottom: 8px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.6rem;
  mix-blend-mode: exclusion;
  position: absolute;
  right: 8px; }
  .photoCredit a {
    color: currentColor; }

.rel {
  display: grid;
  margin-bottom: 1em;
  margin-top: 1em; }
  @media screen and (min-width: 961px) {
    .rel {
      gap: 16px;
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 960px) {
    .rel {
      gap: 8px;
      grid-template-columns: repeat(1, 1fr); } }

.relItem {
  align-items: stretch;
  display: flex; }
  .relItem a.relItem_anchor {
    background-color: #f1f2f3;
    border-radius: 6px;
    color: #55565e;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 24px 32px;
    text-decoration: none; }
    .relItem a.relItem_anchor:focus, .relItem a.relItem_anchor:hover {
      background-color: #ececee; }
  .relItem.relItem-oneline a.relItem_anchor {
    justify-content: center; }
  .relItem_title {
    font-weight: 500; }
  .relItem_detail {
    color: rgba(85, 86, 94, 0.7);
    line-height: 1.3;
    margin-top: 8px; }
  .relItem .fa.fa-arrow-right {
    margin-right: 0.25em; }
  .relItem .fa-external-link-square-alt {
    margin-left: 0.5em; }

.paint {
  background-color: #f1f2f3;
  border-radius: 6px;
  overflow: hidden; }
  @media screen and (min-width: 961px) {
    .paint_gui {
      display: flex; } }
  .paint_controller {
    background-color: #2f3137; }
    @media screen and (max-width: 960px) {
      .paint_controller .paneContainer {
        width: 100%; } }
    .paint_controller .tp-rotv {
      border-top-right-radius: 0;
      box-shadow: 0 0 0 transparent; }
  .paint_preview {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    overflow: hidden;
    padding: 32px;
    position: relative; }
    .paint_preview .tp-rotv {
      position: relative; }
    .paint_preview .tp-cswtxtiv {
      height: calc(var(--unit-size) + 168px) !important; }
    .paint_preview .tp-p2dpadtxtiv {
      height: calc(var(--unit-size) + 144px) !important; }
    .paint_preview .tp-clpiv,
    .paint_preview .tp-p2dpadiv {
      display: block !important;
      visibility: visible !important; }
  .paint_bgImage {
    background-color: black;
    background: url(https://source.unsplash.com/74ft3aciAY0/900x1600) no-repeat center;
    background-size: cover;
    bottom: -16px;
    left: -16px;
    position: absolute;
    right: -16px;
    top: -16px; }

@media screen and (min-width: 961px) {
  :root.index .pageHeader_innerLayout {
    padding-bottom: 128px;
    padding-top: 128px; } }

@media screen and (max-width: 960px) {
  :root.index .pageHeader_titleLayout p {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto; } }

@media screen and (max-width: 960px) {
  :root.index .pageHeader_titleLayout p {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto; } }

:root.theming .pageHeader {
  background: url(https://source.unsplash.com/u27Rrbs9Dwc/1600x900) no-repeat center;
  background-size: cover; }

:root.theming .pageHeader_titleLayout h1,
:root.theming .pageHeader_titleLayout p {
  color: rgba(255, 255, 255, 0.8); }
